{
  "name": "{{pluginName}}",
  "private": true,
  "type": "module",
  "version": "0.1.0",
  "scripts": {
    "dev": "vite",
    "build": "vite build",
    "preview": "vite preview"
  },
  "dependencies": {
    "vue": "^3.4.0",
    "@d3-toolkit/shared": "*",
    "@disguise-one/designer-pythonapi": "github:disguise-one/designer-pythonapi",
    "@disguise-one/vue-liveupdate": "github:disguise-one/vue-liveupdate"
  },
  "devDependencies": {
    "@vitejs/plugin-vue": "^5.0.0",
    "typescript": "^5.4.0",
    "vite": "^5.2.0"
  }
}
